* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins";
}

.container {
  max-width: 1330px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../../font/Poppins-Bold.ttf);
  font-weight: 700px;
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url(../../font/Poppins-ExtraBold.ttf);
  font-weight: 800px;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../../font/Poppins-Medium.ttf);
  font-weight: 500px;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../../font/Poppins-Regular.ttf);
  font-weight: 400px;
}
.header {
  width: 100%;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .header-top {
    margin-top: 20px;
  }
}
.header-top_section {
  max-width: 700px;
  width: 100%;
  display: flex;
  column-gap: 160px;
}
@media only screen and (max-width: 1120px) {
  .header-top_section {
    column-gap: 80px;
  }
}
@media only screen and (max-width: 984px) {
  .header-top_section {
    column-gap: 15px;
  }
}
.header-top_section__menu {
  display: flex;
  column-gap: 40px;
}
@media only screen and (max-width: 984px) {
  .header-top_section__menu {
    column-gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .header-top_section__menu {
    display: none;
  }
}
.header-top_section__menu-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #2C3847;
  transition: 0.3s;
}
@media only screen and (max-width: 984px) {
  .header-top_section__menu {
    font-size: 18px;
    line-height: 22px;
  }
}
.header-top_section__menu-link:hover {
  color: #5FB848;
}
.header-top_order {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .header-top_order {
    display: none;
  }
}
.header-top_order__search-img, .header-top_order__cart-img {
  cursor: pointer;
}
.header-top_order-button {
  margin-left: 10px;
  padding: 14px 30px;
  background: #494949;
  border-radius: 27px;
  border: 1px solid #494949;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.3s;
}
@media only screen and (max-width: 984px) {
  .header-top_order-button {
    font-size: 16px;
  }
}
.header-top_order-button:hover {
  background-color: #FFFFFF;
  color: #494949;
}
.header-top_burgerMenu {
  display: none;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header-top_burgerMenu {
    display: flex;
  }
}
.header-top_burgerMenu__top, .header-top_burgerMenu__bottom {
  width: 35px;
  height: 4px;
  background-color: #494949;
  border-radius: 50px;
  transition: 0.4s;
}
.header-top_burgerMenu__top.rotate {
  transform: translateY(11px) rotate(405deg);
}
.header-top_burgerMenu__bottom.rotate {
  transform: translateY(-11px) rotate(-405deg);
}
.header-top_burgerMenu__between {
  display: flex;
  margin-left: 10px;
  width: 25px;
  height: 4px;
  background-color: #494949;
  border-radius: 50px;
  transition: 0.4s;
  transform: scaleX(1);
}
.header-top_burgerMenu__between.hide {
  transform: scaleX(0);
  background-color: #FFFFFF;
}

.mobile-menu {
  max-width: 384px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  box-shadow: -15px 0 150px #e0e0e0, 10px 20px 150px rgba(0, 0, 0, 0.08);
  border-radius: 0 20px 20px 0;
  transition: 0.3s;
  transform: translateX(-384px);
}
@media only screen and (max-width: 450px) {
  .mobile-menu {
    max-width: 250px;
  }
}
.mobile-menu_top {
  margin-top: 15px;
}
.mobile-menu_top__logo {
  width: 124px;
  height: 69px;
  margin-left: 20px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_top__logo {
    width: 93px;
    height: 51px;
  }
}
.mobile-menu_body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 70px 0 0 30px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body {
    gap: 15px;
    margin: 70px 0 0 30px;
  }
}
.mobile-menu_body__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #2C3847;
  display: flex;
  color: #5FB848;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link {
    font-size: 18px;
    line-height: 23px;
  }
}
.mobile-menu_body__link-aboutus, .mobile-menu_body__link-contact {
  width: 15px;
  height: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-contact, .mobile-menu_body__link-aboutus {
    margin-right: 22px;
  }
}
.mobile-menu_body__link-search, .mobile-menu_body__link-cart, .mobile-menu_body__link-logout, .mobile-menu_body__link-testimonials, .mobile-menu_body__link-home {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-testimonials {
    margin-right: 18px;
  }
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-logout {
    margin-right: 22px;
  }
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-home {
    margin-right: 17px;
  }
}
.mobile-menu_footer {
  display: flex;
  gap: 20px;
  margin-top: 300px;
  padding-left: 30px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_footer {
    margin-top: 100px;
  }
}
.mobile-menu_footer__telegram, .mobile-menu_footer__facebook, .mobile-menu_footer__twitter, .mobile-menu_footer__instagram {
  width: 30px;
  height: 30px;
}
.mobile-menu.open {
  transform: translateX(0);
}/*# sourceMappingURL=main.css.map */