* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5FB848;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #209e00;
}

.container {
  max-width: 1330px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../font/Poppins-Bold.ttf);
  font-weight: 700px;
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url(../font/Poppins-ExtraBold.ttf);
  font-weight: 800px;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../font/Poppins-Medium.ttf);
  font-weight: 500px;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf);
  font-weight: 400px;
}
.bg-fon.show {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
  transition: 0.3s;
}

.header {
  width: 100%;
  margin-bottom: 50px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .header-top {
    margin-top: 20px;
  }
}
.header-top_section {
  max-width: 700px;
  width: 100%;
  display: flex;
  column-gap: 160px;
}
@media only screen and (max-width: 1120px) {
  .header-top_section {
    column-gap: 80px;
  }
}
@media only screen and (max-width: 984px) {
  .header-top_section {
    column-gap: 15px;
  }
}
.header-top_section__menu {
  display: flex;
  column-gap: 40px;
}
@media only screen and (max-width: 984px) {
  .header-top_section__menu {
    column-gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .header-top_section__menu {
    display: none;
  }
}
.header-top_section__menu-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #2C3847;
  transition: 0.3s;
}
@media only screen and (max-width: 984px) {
  .header-top_section__menu {
    font-size: 18px;
    line-height: 22px;
  }
}
.header-top_section__menu-link:hover {
  color: #5FB848;
}
.header-top_order {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .header-top_order {
    display: none;
  }
}
.header-top_order__search-img, .header-top_order__cart-img {
  cursor: pointer;
}
.header-top_order-button {
  margin-left: 10px;
  padding: 14px 30px;
  background: #494949;
  border-radius: 27px;
  border: 1px solid #494949;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.3s;
}
@media only screen and (max-width: 984px) {
  .header-top_order-button {
    font-size: 16px;
  }
}
.header-top_order-button:hover {
  background-color: #FFFFFF;
  color: #494949;
}
.header-top_burgerMenu {
  display: none;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .header-top_burgerMenu {
    display: flex;
  }
}
.header-top_burgerMenu__top, .header-top_burgerMenu__bottom {
  width: 35px;
  height: 4px;
  background-color: #494949;
  border-radius: 50px;
  transition: 0.4s;
}
.header-top_burgerMenu__top.rotate {
  transform: translateY(11px) rotate(405deg);
}
.header-top_burgerMenu__bottom.rotate {
  transform: translateY(-11px) rotate(-405deg);
}
.header-top_burgerMenu__between {
  display: flex;
  margin-left: 10px;
  width: 25px;
  height: 4px;
  background-color: #494949;
  border-radius: 50px;
  transition: 0.4s;
  transform: scaleX(1);
}
.header-top_burgerMenu__between.hide {
  transform: scaleX(0);
  background-color: #FFFFFF;
}

.mobile-menu {
  max-width: 384px;
  width: 100%;
  height: 100vh !important;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: -15px 0 150px #bdbdbd, 10px 20px 150px rgba(0, 0, 0, 0.08);
  border-radius: 0 20px 20px 0;
  transition: 0.3s;
  transform: translateX(-384px);
  z-index: 1;
}
@media only screen and (max-width: 450px) {
  .mobile-menu {
    max-width: 250px;
  }
}
.mobile-menu_top {
  margin-top: 15px;
}
.mobile-menu_top__logo {
  width: 124px;
  height: 69px;
  margin-left: 20px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_top__logo {
    width: 93px;
    height: 51px;
  }
}
.mobile-menu_body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 70px 0 0 30px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body {
    gap: 15px;
    margin: 70px 0 0 30px;
  }
}
.mobile-menu_body__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #2C3847;
  display: flex;
  color: #5FB848;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link {
    font-size: 18px;
    line-height: 23px;
  }
}
.mobile-menu_body__link-aboutus, .mobile-menu_body__link-contact {
  width: 15px;
  height: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-contact, .mobile-menu_body__link-aboutus {
    margin-right: 22px;
  }
}
.mobile-menu_body__link-search, .mobile-menu_body__link-cart, .mobile-menu_body__link-logout, .mobile-menu_body__link-testimonials, .mobile-menu_body__link-home {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-testimonials {
    margin-right: 18px;
  }
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-logout {
    margin-right: 22px;
  }
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-home {
    margin-right: 17px;
  }
}
.mobile-menu_body__btn {
  position: absolute;
  width: 150px;
  height: 50px;
  margin-top: 330px;
  border: none;
  border-radius: 15px;
  background-color: #494949;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
}
.mobile-menu_footer {
  display: flex;
  gap: 20px;
  margin-top: 300px;
  padding-left: 30px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_footer {
    margin-top: 100px;
  }
}
.mobile-menu_footer__telegram, .mobile-menu_footer__facebook, .mobile-menu_footer__twitter, .mobile-menu_footer__instagram {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_footer__telegram, .mobile-menu_footer__facebook, .mobile-menu_footer__twitter, .mobile-menu_footer__instagram {
    width: 20px;
    height: 20px;
    margin-top: 100px;
  }
}
.mobile-menu.open {
  transform: translateX(0);
  position: absolute;
}

.header-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1300px) {
  .header-banner {
    justify-content: center;
    display: flex;
    gap: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}
.header-banner_texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  max-width: 555px;
  width: 100%;
  height: 530px;
}
@media only screen and (max-width: 1300px) {
  .header-banner_texts {
    justify-content: center;
    gap: 20px;
    max-width: 340px;
    height: 370px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_texts {
    max-width: 330px;
    height: 280px;
    gap: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner_texts {
    max-width: 600px;
    width: 100%;
    height: 280px;
    gap: 15px;
    display: flex;
    align-items: center;
  }
}
.header-banner_texts-title {
  max-width: 555px;
  width: 100%;
  font-weight: 500;
  font-size: 69px;
  line-height: 90px;
  color: #181D19;
}
@media only screen and (max-width: 1300px) {
  .header-banner_texts-title {
    max-width: 420px;
    font-size: 40px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_texts-title {
    max-width: 330px;
    font-size: 36px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner_texts-title {
    width: 100%;
    max-width: 540px;
    text-align: center;
  }
}
.header-banner_texts-title_span {
  color: #5FB848;
}
.header-banner_texts-text {
  max-width: 500px;
  width: 100%;
  height: 100px;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
}
@media only screen and (max-width: 1300px) {
  .header-banner_texts-text {
    max-width: 330px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_texts-text {
    max-width: 300px;
    height: 55px;
    font-size: 13px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner_texts-text {
    max-width: 540px;
    text-align: center;
  }
}
.header-banner_texts-btn {
  width: 200px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  border: none;
  padding: 16px 40px;
  background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
@media only screen and (max-width: 1300px) {
  .header-banner_texts-btn {
    width: 140px;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 30px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_texts-btn {
    width: 110px;
    font-size: 11px;
    padding: 2px 10px;
    border-radius: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner_texts-btn {
    margin: 0 auto;
  }
}
.header-banner_texts-btn:hover {
  background: linear-gradient(360deg, #64BB47 0%, #2C9553 100%);
}
.header-banner_img {
  display: flex;
  max-width: 980px;
  width: 100%;
}
@media only screen and (max-width: 1300px) {
  .header-banner_img {
    max-width: 600px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_img {
    max-width: 500px;
  }
}
.header-banner_img-foods {
  position: absolute;
  max-width: 770px;
  width: 100%;
}
@media only screen and (max-width: 1300px) {
  .header-banner_img-foods {
    max-width: 550px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_img-foods {
    max-width: 450px;
  }
}
.header-banner_img-leaves {
  margin-top: 20px;
  max-width: 980px;
  width: 100%;
}
@media only screen and (max-width: 1300px) {
  .header-banner_img-leaves {
    max-width: 530px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_img-leaves {
    max-width: 430px;
  }
}

.modal {
  width: 600px;
  height: 500px;
  background-color: #e1f2e1;
  position: absolute;
  z-index: 2;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  box-shadow: 0 0 100px #dfdfdf, 10px 20px 150px rgba(255, 255, 255, 0.08);
  transition: 0.7s;
  border: 1px solid #5FB848;
}
@media only screen and (max-width: 600px) {
  .modal {
    width: 400px;
    height: 300px;
  }
}
.modal.open {
  top: 20%;
  position: fixed;
}
.modal-top {
  padding: 25px;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 185px;
}
@media only screen and (max-width: 600px) {
  .modal-top {
    padding: 10px;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 115px;
  }
}
.modal-top_title {
  font-weight: 500;
  font-size: 26px;
  line-height: 27px;
  color: #2C3847;
}
@media only screen and (max-width: 600px) {
  .modal-top_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #2C3847;
  }
}
.modal-top_closebtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.modal-top_closebtn-top, .modal-top_closebtn-bottom {
  width: 20px;
  height: 2px;
  background-color: #494949;
  border-radius: 5px;
  transition: 0.4s;
}
.modal-top_closebtn-top {
  rotate: 45deg;
  position: absolute;
}
.modal-top_closebtn-bottom {
  rotate: -45deg;
}
.modal-top_closebtn:hover {
  rotate: 360deg;
}
.modal-between {
  padding: 20px;
  margin-block: 35px;
}
.modal-between_email, .modal-between_password {
  border: none;
  max-width: 500px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}
.modal-between_email:focus, .modal-between_password:focus {
  outline: none;
  box-shadow: 5px 10px 10px #b6b6b6, 10px 20px 150px rgba(0, 0, 0, 0.08);
}
.modal-between_signup {
  max-width: 500px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #2C3847;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}
.modal-between_signup:hover {
  box-shadow: 5px 10px 10px #b6b6b6, 10px 20px 150px rgba(0, 0, 0, 0.08);
  background-color: #5FB848;
  color: #fff;
}
.modal-between .register {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.modal-bottom {
  padding: 30px;
  border-top: 2px solid #fff;
}
.modal-bottom_text {
  text-align: center;
  cursor: pointer;
}

.main {
  margin-block: 100px 120px;
}
.main-info {
  padding: 0 85px;
}
.main-info_title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 54px;
  line-height: 68px;
  text-align: center;
  color: #151414;
}
.main-info_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3B433E;
  margin-top: 15px;
}
.main-info_section {
  display: flex;
  gap: 100px;
  margin-block: 60px;
}
.main-info_section-notepad, .main-info_section-map, .main-info_section-leaf {
  width: 341px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-info_section-notepad_img, .main-info_section-map_img, .main-info_section-leaf_img {
  width: max-content;
  height: 100px;
}
.main-info_section-notepad_title, .main-info_section-map_title, .main-info_section-leaf_title {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #181D19;
  margin-block: 36px 18px;
}
.main-info_section-notepad_text, .main-info_section-map_text, .main-info_section-leaf_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #3B433E;
}
.main-info_numbers {
  display: flex;
  justify-content: center;
  gap: 160px;
}
.main-info_numbers-food, .main-info_numbers-trusted, .main-info_numbers-order {
  width: 150px;
}
.main-info_numbers-food_title, .main-info_numbers-trusted_title, .main-info_numbers-order_title {
  font-weight: 600;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.main-info_numbers-food_text, .main-info_numbers-trusted_text, .main-info_numbers-order_text {
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: #545454;
  text-align: center;
}/*# sourceMappingURL=main.css.map */