* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5FB848;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #209e00;
}

.container {
  max-width: 1330px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../font/Poppins-Bold.ttf);
  font-weight: 700px;
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url(../font/Poppins-ExtraBold.ttf);
  font-weight: 800px;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../font/Poppins-Medium.ttf);
  font-weight: 500px;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf);
  font-weight: 400px;
}
.bg-fon.show {
  width: 100%;
  height: 100%;
  background-color: #353535;
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  transition: 0.3s;
}

.header {
  width: 100%;
  margin-bottom: 50px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
@media only screen and (max-width: 768px) {
  .header-top {
    padding-top: 20px;
  }
}
.header-top_section {
  max-width: 700px;
  width: 100%;
  display: flex;
  -moz-column-gap: 160px;
       column-gap: 160px;
}
@media only screen and (max-width: 1120px) {
  .header-top_section {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
@media only screen and (max-width: 984px) {
  .header-top_section {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.header-top_section__menu {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media only screen and (max-width: 984px) {
  .header-top_section__menu {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .header-top_section__menu {
    display: none;
  }
}
.header-top_section__menu-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #2C3847;
  transition: 0.3s;
  position: relative;
}
.header-top_section__menu-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: #5FB848;
  border-radius: 2px;
  width: 0;
  transition: 0.4s;
}
.header-top_section__menu-link::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  height: 2px;
  background-color: #5FB848;
  border-radius: 2px;
  width: 0;
  transition: 0.4s;
}
.header-top_section__menu-link:hover::after, .header-top_section__menu-link:hover::before {
  width: 100%;
}
@media only screen and (max-width: 984px) {
  .header-top_section__menu {
    font-size: 18px;
    line-height: 22px;
  }
}
.header-top_order {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .header-top_order {
    display: none;
  }
}
.header-top_order__search-img, .header-top_order__cart-img {
  cursor: pointer;
}
.header-top_order-button {
  margin-left: 10px;
  padding: 14px 30px;
  background: #494949;
  border-radius: 27px;
  border: 1px solid #494949;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.3s;
}
@media only screen and (max-width: 984px) {
  .header-top_order-button {
    font-size: 16px;
  }
}
.header-top_order-button:hover {
  background-color: #FFFFFF;
  color: #494949;
}
.header-top_burgerMenu {
  display: none;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  .header-top_burgerMenu {
    display: flex;
  }
}
.header-top_burgerMenu__top, .header-top_burgerMenu__bottom {
  width: 35px;
  height: 4px;
  background-color: #494949;
  border-radius: 50px;
  transition: 0.4s;
}
.header-top_burgerMenu__top.rotate {
  transform: translateY(11px) rotate(405deg);
  background-color: #fff;
}
.header-top_burgerMenu__bottom.rotate {
  transform: translateY(-11px) rotate(-405deg);
  background-color: #fff;
}
.header-top_burgerMenu__between {
  display: flex;
  margin-left: 10px;
  width: 25px;
  height: 4px;
  background-color: #494949;
  border-radius: 50px;
  transition: 0.4s;
  transform: scaleX(1);
}
.header-top_burgerMenu__between.hide {
  transform: scaleX(0);
  background-color: #FFFFFF;
}

.mobile-menu {
  max-width: 384px;
  width: 100%;
  height: 100vh !important;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  transition: 0.3s;
  transform: translateX(-500px);
  z-index: 3;
}
@media only screen and (max-width: 450px) {
  .mobile-menu {
    max-width: 250px;
  }
}
.mobile-menu_top {
  margin-top: 15px;
}
.mobile-menu_top__logo {
  width: 124px;
  height: 69px;
  margin-left: 20px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_top__logo {
    width: 93px;
    height: 51px;
  }
}
.mobile-menu_body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 70px 0 0 30px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body {
    gap: 15px;
    margin: 70px 0 0 30px;
  }
}
.mobile-menu_body__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #2C3847;
  display: flex;
  color: #5FB848;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link {
    font-size: 18px;
    line-height: 23px;
  }
}
.mobile-menu_body__link-aboutus, .mobile-menu_body__link-contact {
  width: 15px;
  height: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-contact, .mobile-menu_body__link-aboutus {
    margin-right: 22px;
  }
}
.mobile-menu_body__link-search, .mobile-menu_body__link-cart, .mobile-menu_body__link-logout, .mobile-menu_body__link-testimonials, .mobile-menu_body__link-home {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-testimonials {
    margin-right: 18px;
  }
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-logout {
    margin-right: 22px;
  }
}
@media only screen and (max-width: 450px) {
  .mobile-menu_body__link-home {
    margin-right: 17px;
  }
}
.mobile-menu_body__btn {
  position: absolute;
  width: 150px;
  height: 50px;
  margin-top: 330px;
  border: none;
  border-radius: 15px;
  background-color: #494949;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
}
.mobile-menu_footer {
  display: flex;
  gap: 20px;
  margin-top: 300px;
  padding-left: 30px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_footer {
    margin-top: 100px;
  }
}
.mobile-menu_footer__telegram, .mobile-menu_footer__facebook, .mobile-menu_footer__twitter, .mobile-menu_footer__instagram {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 450px) {
  .mobile-menu_footer__telegram, .mobile-menu_footer__facebook, .mobile-menu_footer__twitter, .mobile-menu_footer__instagram {
    width: 20px;
    height: 20px;
    margin-top: 100px;
  }
}
.mobile-menu.open {
  transform: translateX(0);
  position: absolute;
}

.header-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1300px) {
  .header-banner {
    justify-content: center;
    display: flex;
    gap: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}
.header-banner_texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  max-width: 555px;
  width: 100%;
  height: 530px;
}
@media only screen and (max-width: 1300px) {
  .header-banner_texts {
    justify-content: center;
    gap: 20px;
    max-width: 340px;
    height: 370px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_texts {
    max-width: 330px;
    height: 280px;
    gap: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner_texts {
    max-width: 600px;
    width: 100%;
    height: 280px;
    gap: 15px;
    display: flex;
    align-items: center;
  }
}
.header-banner_texts-title {
  max-width: 555px;
  width: 100%;
  font-weight: 500;
  font-size: 69px;
  line-height: 90px;
  color: #181D19;
}
@media only screen and (max-width: 1300px) {
  .header-banner_texts-title {
    max-width: 420px;
    font-size: 40px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_texts-title {
    max-width: 330px;
    font-size: 36px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner_texts-title {
    width: 100%;
    max-width: 540px;
    text-align: center;
  }
}
.header-banner_texts-title_span {
  color: #5FB848;
}
.header-banner_texts-text {
  max-width: 500px;
  width: 100%;
  height: 100px;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
}
@media only screen and (max-width: 1300px) {
  .header-banner_texts-text {
    max-width: 330px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_texts-text {
    max-width: 300px;
    height: 55px;
    font-size: 13px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner_texts-text {
    max-width: 540px;
    text-align: center;
  }
}
.header-banner_texts-btn {
  width: 200px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  border: 2px solid #5FB848;
  padding: 16px 30px;
  background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.header-banner_texts-btn::after {
  content: "";
  width: 0;
  height: 0;
  background-color: #fff;
  position: absolute;
  left: var(--x);
  top: var(--y);
  transition: 0.3s all linear;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.header-banner_texts-btn:hover {
  color: #5FB848;
}
.header-banner_texts-btn:hover::after {
  width: 500px;
  height: 500px;
}
@media only screen and (max-width: 1300px) {
  .header-banner_texts-btn {
    width: 140px;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 30px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_texts-btn {
    width: 110px;
    font-size: 11px;
    padding: 2px 10px;
    border-radius: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .header-banner_texts-btn {
    margin: 0 auto;
  }
}
.header-banner_img {
  display: flex;
  max-width: 980px;
  width: 100%;
}
@media only screen and (max-width: 1300px) {
  .header-banner_img {
    max-width: 600px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_img {
    max-width: 500px;
  }
}
.header-banner_img-foods {
  position: absolute;
  max-width: 770px;
  width: 100%;
}
@media only screen and (max-width: 1300px) {
  .header-banner_img-foods {
    max-width: 550px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_img-foods {
    max-width: 450px;
  }
}
.header-banner_img-leaves {
  margin-top: 20px;
  max-width: 980px;
  width: 100%;
}
@media only screen and (max-width: 1300px) {
  .header-banner_img-leaves {
    max-width: 530px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-banner_img-leaves {
    max-width: 430px;
  }
}

.modal {
  width: 600px;
  height: 500px;
  background-color: #e1f2e1;
  position: absolute;
  z-index: 2;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  transition: 0.7s;
  border: 4px solid #5FB848;
}
@media only screen and (max-width: 600px) {
  .modal {
    width: 400px;
    height: 300px;
  }
}
.modal.open {
  top: 20%;
  position: fixed;
}
.modal-top {
  padding: 25px;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 185px;
}
@media only screen and (max-width: 600px) {
  .modal-top {
    padding: 10px;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 115px;
  }
}
.modal-top_title {
  font-weight: 500;
  font-size: 26px;
  line-height: 27px;
  color: #2C3847;
}
@media only screen and (max-width: 600px) {
  .modal-top_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #2C3847;
  }
}
.modal-top_closebtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.modal-top_closebtn-top, .modal-top_closebtn-bottom {
  width: 20px;
  height: 2px;
  background-color: #494949;
  border-radius: 5px;
  transition: 0.4s;
}
.modal-top_closebtn-top {
  rotate: 45deg;
  position: absolute;
}
.modal-top_closebtn-bottom {
  rotate: -45deg;
}
.modal-between {
  padding: 20px;
  margin-block: 35px;
}
.modal-between_email, .modal-between_password {
  border: none;
  max-width: 500px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}
.modal-between_email:focus, .modal-between_password:focus {
  outline: none;
  box-shadow: 5px 10px 10px #b6b6b6, 10px 20px 150px rgba(0, 0, 0, 0.08);
}
.modal-between_signup {
  max-width: 500px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #2C3847;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}
.modal-between_signup:hover {
  box-shadow: 5px 10px 10px #b6b6b6, 10px 20px 150px rgba(0, 0, 0, 0.08);
  background-color: #5FB848;
  color: #fff;
}
.modal-between .register {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.modal-bottom {
  padding: 30px;
  border-top: 2px solid #fff;
}
.modal-bottom_text {
  text-align: center;
  cursor: pointer;
}

.main-info {
  margin-block: 100px 120px;
  padding: 0 85px;
}
@media only screen and (max-width: 576px) {
  .main-info {
    margin-block: 0;
    padding: 0 0 0 15px;
  }
}
@media only screen and (max-width: 1150px) {
  .main-info {
    margin-block: 100px 60px;
  }
}
.main-info_title {
  font-weight: 500;
  font-size: 54px;
  line-height: 68px;
  text-align: center;
  color: #151414;
}
@media only screen and (max-width: 768px) {
  .main-info_title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .main-info_title {
    font-size: 24px;
  }
}
.main-info_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3B433E;
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  .main-info_text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .main-info_text {
    font-size: 14px;
    margin-top: 0;
  }
}
.main-info_section {
  display: flex;
  gap: 100px;
  margin-block: 60px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .main-info_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  .main-info_section {
    gap: 50px;
  }
}
.main-info_section-notepad, .main-info_section-map, .main-info_section-leaf {
  max-width: 341px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-info_section-notepad_img, .main-info_section-map_img, .main-info_section-leaf_img {
  width: -moz-max-content;
  width: max-content;
  height: 100px;
}
.main-info_section-notepad_title, .main-info_section-map_title, .main-info_section-leaf_title {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #181D19;
  margin-block: 36px 18px;
}
@media only screen and (max-width: 576px) {
  .main-info_section-notepad_title, .main-info_section-map_title, .main-info_section-leaf_title {
    font-size: 20px;
  }
}
.main-info_section-notepad_text, .main-info_section-map_text, .main-info_section-leaf_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #3B433E;
}
@media only screen and (max-width: 576px) {
  .main-info_section-notepad_text, .main-info_section-map_text, .main-info_section-leaf_text {
    font-size: 12px;
  }
}
.main-info_section-map {
  transform: translateY(-500px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-info_section-notepad {
  transform: translateX(-400px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-info_section-leaf {
  transform: translateX(400px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-info_numbers {
  display: flex;
  justify-content: center;
  gap: 160px;
}
@media only screen and (max-width: 768px) {
  .main-info_numbers {
    gap: 80px;
  }
}
@media only screen and (max-width: 576px) {
  .main-info_numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.main-info_numbers-food, .main-info_numbers-trusted, .main-info_numbers-order {
  width: 150px;
}
@media only screen and (max-width: 768px) {
  .main-info_numbers-food, .main-info_numbers-trusted, .main-info_numbers-order {
    width: 100%;
  }
}
.main-info_numbers-food_animation, .main-info_numbers-trusted_animation, .main-info_numbers-order_animation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.main-info_numbers-food_animation-title, .main-info_numbers-trusted_animation-title, .main-info_numbers-order_animation-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .main-info_numbers-food_animation-title, .main-info_numbers-trusted_animation-title, .main-info_numbers-order_animation-title {
    font-size: 30px;
    margin-bottom: 0;
  }
}
.main-info_numbers-food_animation-text, .main-info_numbers-trusted_animation-text, .main-info_numbers-order_animation-text {
  font-weight: 600;
  font-size: 44px;
  line-height: 55px;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .main-info_numbers-food_animation-text, .main-info_numbers-trusted_animation-text, .main-info_numbers-order_animation-text {
    font-size: 30px;
  }
}
.main-info_numbers-food_text, .main-info_numbers-trusted_text, .main-info_numbers-order_text {
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: #545454;
}
@media only screen and (max-width: 768px) {
  .main-info_numbers-food_text, .main-info_numbers-trusted_text, .main-info_numbers-order_text {
    font-size: 12px;
  }
}
.main-info_numbers-trusted {
  transform: translateY(100px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-info_numbers-food {
  transform: translateY(300px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-info_numbers-order {
  transform: translateY(300px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}

.main-aboutus {
  margin-bottom: 120px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  gap: 95px;
  overflow: hidden;
  z-index: -1;
}
@media only screen and (max-width: 1150px) {
  .main-aboutus {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .main-aboutus {
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .main-aboutus {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
.main-aboutus_texts {
  max-width: 500px;
  width: 100%;
  padding-block: 127px;
}
@media only screen and (max-width: 768px) {
  .main-aboutus_texts {
    padding-block: 50px;
  }
}
.main-aboutus_texts-title {
  font-weight: 500;
  font-size: 54px;
  line-height: 68px;
  color: #151414;
  transform: translateX(-200px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 1150px) {
  .main-aboutus_texts-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .main-aboutus_texts-title {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .main-aboutus_texts-title {
    font-size: 24px;
  }
}
.main-aboutus_texts-text {
  margin-block: 30px 68px;
  font-weight: 300;
  font-size: 22px;
  line-height: 34px;
  color: #181D19;
  transform: translateX(-500px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 1150px) {
  .main-aboutus_texts-text {
    font-size: 16px;
    line-height: 26px;
    margin-block: 15px 34px;
  }
}
@media only screen and (max-width: 768px) {
  .main-aboutus_texts-text {
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .main-aboutus_texts-text {
    font-size: 14px;
  }
}
.main-aboutus_texts-btn {
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
  border-radius: 50px;
  padding: 16px 41px;
  transform: translateX(-800px);
  z-index: 0;
  opacity: 0;
  display: block;
  border: 2px solid #5FB848;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 1150px) {
  .main-aboutus_texts-btn {
    font-size: 16px;
    padding: 8px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .main-aboutus_texts-btn {
    margin: 0 auto;
  }
}
.main-aboutus_texts-btn::after {
  content: "";
  width: 0;
  height: 0;
  background-color: #fff;
  position: absolute;
  left: var(--x);
  top: var(--y);
  transition: 0.3s all linear;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main-aboutus_texts-btn:hover {
  color: #5FB848;
}
.main-aboutus_texts-btn:hover::after {
  width: 500px;
  height: 500px;
}
.main-aboutus_images {
  max-width: 640px;
  width: 100%;
  height: 722px;
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 1150px) {
  .main-aboutus_images {
    max-width: 320px;
    width: 100%;
    height: 366px;
    display: flex;
    gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .main-aboutus_images {
    max-width: 480px;
    width: 100%;
    height: 549px;
    gap: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .main-aboutus_images {
    width: 290px;
    height: 366px;
    display: flex;
    gap: 10px;
  }
}
.main-aboutus_images-left {
  width: 310px;
  height: 666px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateY(-100%);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 1150px) {
  .main-aboutus_images-left {
    width: 155px;
    height: 333px;
    gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .main-aboutus_images-left {
    width: 227.5px;
    height: 499.5px;
    gap: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .main-aboutus_images-left {
    width: 140px;
    height: 333px;
    gap: 10px;
  }
}
.main-aboutus_images-left-top, .main-aboutus_images-left-bottom {
  width: 310px;
  height: 323px;
}
@media only screen and (max-width: 1150px) {
  .main-aboutus_images-left-top, .main-aboutus_images-left-bottom {
    width: 155px;
    height: 161.5px;
  }
}
@media only screen and (max-width: 768px) {
  .main-aboutus_images-left-top, .main-aboutus_images-left-bottom {
    width: 227.5px;
    height: 81px;
  }
}
@media only screen and (max-width: 576px) {
  .main-aboutus_images-left-top, .main-aboutus_images-left-bottom {
    width: 155px;
    height: 161.5px;
  }
}
.main-aboutus_images-right {
  width: 310px;
  height: 670px;
  margin-top: 52px;
  transform: translateY(100%);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 1150px) {
  .main-aboutus_images-right {
    width: 155px;
    height: 335px;
  }
}
@media only screen and (max-width: 768px) {
  .main-aboutus_images-right {
    width: 227.5px;
    height: 499.5px;
    margin-top: 49px;
  }
}
@media only screen and (max-width: 576px) {
  .main-aboutus_images-right {
    width: 140px;
    height: 335px;
    margin-top: 30px;
  }
}

.main-freshvegs {
  display: flex;
  gap: 70px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .main-freshvegs {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.main-freshvegs_images {
  max-width: 585px;
  height: 480px;
  transform: translateY(-650px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 768px) {
  .main-freshvegs_images {
    width: 438px;
    height: 360px;
  }
}
@media only screen and (max-width: 576px) {
  .main-freshvegs_images {
    width: 292px;
    height: 240px;
  }
}
.main-freshvegs_images-img {
  width: 100%;
}
.main-freshvegs_texts {
  max-width: 516px;
  width: 100%;
}
.main-freshvegs_texts-title {
  width: 100%;
  font-weight: 500;
  font-size: 54px;
  line-height: 68px;
  color: #151414;
  transform: translateX(650px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 1000px) {
  .main-freshvegs_texts-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .main-freshvegs_texts-title {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .main-freshvegs_texts-title {
    font-size: 24px;
    line-height: 40px;
  }
}
.main-freshvegs_texts-text {
  width: 100%;
  font-weight: 300;
  font-size: 22px;
  line-height: 34px;
  color: #181D19;
  margin-block: 30px 40px;
  transform: translateX(950px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 1000px) {
  .main-freshvegs_texts-text {
    font-size: 16px;
    line-height: 26px;
    margin-block: 15px 34px;
  }
}
@media only screen and (max-width: 768px) {
  .main-freshvegs_texts-text {
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .main-freshvegs_texts-text {
    font-size: 14px;
  }
}
.main-freshvegs_texts-btn {
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
  border-radius: 50px;
  padding: 16px 41px;
  display: block;
  transform: translateX(1150px);
  opacity: 0;
  border: 2px solid #5FB848;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 1000px) {
  .main-freshvegs_texts-btn {
    font-size: 16px;
    padding: 8px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .main-freshvegs_texts-btn {
    margin: 0 auto;
  }
}
.main-freshvegs_texts-btn::after {
  content: "";
  width: 0;
  height: 0;
  background-color: #fff;
  position: absolute;
  left: var(--x);
  top: var(--y);
  transition: 0.3s all linear;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main-freshvegs_texts-btn:hover {
  color: #5FB848;
}
.main-freshvegs_texts-btn:hover::after {
  width: 500px;
  height: 500px;
}

.main-chefs {
  margin-block: 80px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .main-chefs {
    display: flex;
    flex-direction: column;
  }
}
.main-chefs_texts {
  max-width: 500px;
  width: 100%;
}
@media only screen and (max-width: 1100px) {
  .main-chefs_texts {
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 992px) {
  .main-chefs_texts {
    margin-bottom: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .main-chefs_texts {
    margin-bottom: 60px;
  }
}
.main-chefs_texts-title {
  width: 100%;
  font-weight: 500;
  font-size: 54px;
  line-height: 68px;
  color: #151414;
  transform: translateX(-400px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 1100px) {
  .main-chefs_texts-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .main-chefs_texts-title {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .main-chefs_texts-title {
    font-size: 24px;
    line-height: 40px;
  }
}
.main-chefs_texts-text {
  width: 100%;
  font-weight: 300;
  font-size: 22px;
  line-height: 34px;
  color: #181D19;
  margin-block: 30px;
  transform: translateX(-700px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 1100px) {
  .main-chefs_texts-text {
    font-size: 16px;
    line-height: 26px;
    margin-block: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .main-chefs_texts-text {
    text-align: center;
    margin-block: 10px 30px;
  }
}
@media only screen and (max-width: 576px) {
  .main-chefs_texts-text {
    font-size: 14px;
  }
}
.main-chefs_texts-checkboxs {
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .main-chefs_texts-checkboxs {
    margin-left: 130px;
  }
}
@media only screen and (max-width: 576px) {
  .main-chefs_texts-checkboxs {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 450px) {
  .main-chefs_texts-checkboxs {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 400px) {
  .main-chefs_texts-checkboxs {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 340px) {
  .main-chefs_texts-checkboxs {
    margin-left: 30px;
  }
}
.main-chefs_texts-checkboxs_top, .main-chefs_texts-checkboxs_between, .main-chefs_texts-checkboxs_bottom {
  display: flex;
  align-items: center;
  gap: 17px;
}
.main-chefs_texts-checkboxs_top .checkbox, .main-chefs_texts-checkboxs_between .checkbox, .main-chefs_texts-checkboxs_bottom .checkbox {
  width: 20px;
  height: 20px;
  accent-color: #5a9e3c;
  cursor: pointer;
}
.main-chefs_texts-checkboxs_top-text, .main-chefs_texts-checkboxs_between-text, .main-chefs_texts-checkboxs_bottom-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #181D19;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .main-chefs_texts-checkboxs_top-text, .main-chefs_texts-checkboxs_between-text, .main-chefs_texts-checkboxs_bottom-text {
    font-size: 14px;
    line-height: 17px;
  }
}
.main-chefs_texts-checkboxs_top {
  transform: translateX(-1000px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-chefs_texts-checkboxs_between {
  transform: translateX(-1300px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-chefs_texts-checkboxs_bottom {
  transform: translateX(-1600px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-chefs_image {
  max-width: 727px;
  width: 100%;
  height: 622px;
  transform: translateY(720px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
@media only screen and (max-width: 768px) {
  .main-chefs_image {
    max-width: 545px;
    width: 100%;
    height: 466px;
  }
}
@media only screen and (max-width: 576px) {
  .main-chefs_image {
    max-width: 363px;
    width: 100%;
    height: 311px;
  }
}
.main-chefs_image-img {
  width: 100%;
}

.main-dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
.main-dishes_title {
  font-weight: 500;
  font-size: 54px;
  line-height: 68px;
  text-align: center;
  color: #151414;
  margin-block: 15px;
}
@media only screen and (max-width: 1200px) {
  .main-dishes_title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .main-dishes_title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .main-dishes_title {
    font-size: 24px;
    line-height: 40px;
  }
}
.main-dishes_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #181D19;
}
@media only screen and (max-width: 1200px) {
  .main-dishes_text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 768px) {
  .main-dishes_text {
    font-size: 24px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .main-dishes_text {
    font-size: 14px;
  }
}
.main-dishes_cards {
  display: flex;
  gap: 51px;
  margin-block: 60px;
}
@media only screen and (max-width: 1200px) {
  .main-dishes_cards {
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .main-dishes_cards {
    display: flex;
    flex-direction: column;
    gap: 51px;
  }
}
@media only screen and (max-width: 768px) {
  .main-dishes_cards {
    gap: 20px;
  }
}
.main-dishes_cards-first, .main-dishes_cards-second, .main-dishes_cards-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 51px 31px;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  transition: 1s !important;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .main-dishes_cards-first, .main-dishes_cards-second, .main-dishes_cards-third {
    padding: 25px 15px;
  }
}
@media only screen and (max-width: 768px) {
  .main-dishes_cards-first, .main-dishes_cards-second, .main-dishes_cards-third {
    padding: 51px 31px;
  }
}
@media only screen and (max-width: 576px) {
  .main-dishes_cards-first, .main-dishes_cards-second, .main-dishes_cards-third {
    padding: 25px 15px;
  }
}
.main-dishes_cards-first:hover, .main-dishes_cards-second:hover, .main-dishes_cards-third:hover {
  transform: scale(1.05, 1.05) !important;
  box-shadow: -15px -50px 81px #FFFFFF, 10px 20px 70px rgba(0, 0, 0, 0.08);
}
@media only screen and (max-width: 1200px) {
  .main-dishes_cards-first_img, .main-dishes_cards-second_img, .main-dishes_cards-third_img {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (max-width: 768px) {
  .main-dishes_cards-first_img, .main-dishes_cards-second_img, .main-dishes_cards-third_img {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 576px) {
  .main-dishes_cards-first_img, .main-dishes_cards-second_img, .main-dishes_cards-third_img {
    width: 180px;
    height: 180px;
  }
}
.main-dishes_cards-first_title, .main-dishes_cards-second_title, .main-dishes_cards-third_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  margin-block: 27px 20px;
}
@media only screen and (max-width: 1200px) {
  .main-dishes_cards-first_title, .main-dishes_cards-second_title, .main-dishes_cards-third_title {
    font-size: 20px;
    margin-block: 13px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .main-dishes_cards-first_title, .main-dishes_cards-second_title, .main-dishes_cards-third_title {
    font-size: 30px;
    margin-block: 27px 20px;
  }
}
@media only screen and (max-width: 576px) {
  .main-dishes_cards-first_title, .main-dishes_cards-second_title, .main-dishes_cards-third_title {
    font-size: 20px;
    margin-block: 13px 10px;
  }
}
.main-dishes_cards-first_text, .main-dishes_cards-second_text, .main-dishes_cards-third_text {
  width: 293px;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  background: linear-gradient(180deg, #39463F 0%, #101612 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media only screen and (max-width: 1200px) {
  .main-dishes_cards-first_text, .main-dishes_cards-second_text, .main-dishes_cards-third_text {
    width: 200px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .main-dishes_cards-first_text, .main-dishes_cards-second_text, .main-dishes_cards-third_text {
    width: 293px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 576px) {
  .main-dishes_cards-first_text, .main-dishes_cards-second_text, .main-dishes_cards-third_text {
    width: 200px;
    font-size: 14px;
  }
}
.main-dishes_cards-first {
  transform: translateY(650px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-dishes_cards-second {
  transform: translateY(950px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-dishes_cards-third {
  transform: translateY(1250px);
  z-index: 0;
  opacity: 0;
  transition: 1s;
}
.main-dishes_btn {
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
  border-radius: 50px;
  padding: 16px 41px;
  display: block;
  transform: translateY(1550px);
  z-index: 0;
  opacity: 0;
  border: 2px solid #5FB848;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 1200px) {
  .main-dishes_btn {
    font-size: 16px;
    padding: 8px 35px;
  }
}
.main-dishes_btn::after {
  content: "";
  width: 0;
  height: 0;
  background-color: #fff;
  position: absolute;
  left: var(--x);
  top: var(--y);
  transition: 0.3s all linear;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main-dishes_btn:hover {
  color: #5FB848;
}
.main-dishes_btn:hover::after {
  width: 500px;
  height: 500px;
}

.main-clients {
  padding: 70px 120px;
  margin-block: 120px;
  background-color: #FCFCFC;
}
.main-clients_title {
  font-weight: 500;
  font-size: 54px;
  line-height: 68px;
  text-align: center;
  color: #151414;
  margin-bottom: 47px;
}
.main-clients_swiper {
  width: 1083px !important;
  height: 400px !important;
  background-color: fcfcfc;
}
@media only screen and (max-width: 1350px) {
  .main-clients_swiper {
    width: 825px !important;
    height: 300px !important;
  }
}
@media only screen and (max-width: 1350px) {
  .main-clients_swiper {
    width: 420px !important;
    height: 560px !important;
  }
}
@media only screen and (max-width: 1100px) {
  .main-clients_swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.main-clients_swiper-wrapper_slide {
  max-width: 514px !important;
  width: 100% !important;
  height: 347px !important;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-shadow: 1px 1px 10px rgba(120, 125, 173, 0.06);
  border-radius: 8px;
  margin: 10px;
  padding: 37px 22px 64px 25px;
}
@media only screen and (max-width: 1350px) {
  .main-clients_swiper-wrapper_slide {
    max-width: 385px !important;
    height: 260px !important;
    padding: 18px 11px 32px 12px;
  }
}
.main-clients_swiper-wrapper_slide-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
@media only screen and (max-width: 1350px) {
  .main-clients_swiper-wrapper_slide-top {
    margin-bottom: 16px;
  }
}
.main-clients_swiper-wrapper_slide-top_left {
  display: flex;
  gap: 37px;
}
.main-clients_swiper-wrapper_slide-top_left-img {
  margin-top: 3px;
}
@media only screen and (max-width: 1350px) {
  .main-clients_swiper-wrapper_slide-top_left-img {
    width: 60px;
    height: 60px;
  }
}
.main-clients_swiper-wrapper_slide-top_left-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.main-clients_swiper-wrapper_slide-top_left-texts_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #333333;
}
@media only screen and (max-width: 1350px) {
  .main-clients_swiper-wrapper_slide-top_left-texts_title {
    font-size: 15px;
  }
}
.main-clients_swiper-wrapper_slide-top_left-texts_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #888A9A;
}
@media only screen and (max-width: 1350px) {
  .main-clients_swiper-wrapper_slide-top_left-texts_text {
    font-size: 11px;
  }
}
.main-clients_swiper-wrapper_slide-top_mark {
  margin-bottom: 22px;
}
@media only screen and (max-width: 1350px) {
  .main-clients_swiper-wrapper_slide-top_mark {
    width: 65px;
    height: 53px;
    margin-bottom: 0;
  }
}
.main-clients_swiper-wrapper_slide-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #181D19;
}
@media only screen and (max-width: 1350px) {
  .main-clients_swiper-wrapper_slide-text {
    font-size: 15px;
    line-height: 26px;
  }
}
.main-clients_nav {
  width: 105px;
  position: absolute;
  left: 47%;
}
@media only screen and (max-width: 1350px) {
  .main-clients_nav {
    left: 46%;
  }
}
@media only screen and (max-width: 1100px) {
  .main-clients_nav {
    transform: rotate(90deg);
  }
}
.main-clients_nav-next::after, .main-clients_nav-prev::after {
  display: none;
}

.main-subscribe {
  padding: 120px 335px 150px 335px;
}
@media only screen and (max-width: 1200px) {
  .main-subscribe {
    padding: 70px 0;
  }
}
.main-subscribe_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #151414;
}
@media only screen and (max-width: 768px) {
  .main-subscribe_title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .main-subscribe_title {
    font-size: 24px;
    line-height: 40px;
  }
}
.main-subscribe_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #181D19;
  margin-block: 15px 60px;
}
@media only screen and (max-width: 768px) {
  .main-subscribe_text {
    font-size: 24px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .main-subscribe_text {
    font-size: 14px;
  }
}
.main-subscribe_registration {
  max-width: 515px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 576px) {
  .main-subscribe_registration {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main-subscribe_registration-email {
  max-width: 330px;
  width: 100%;
  padding: 19px 0 18px 20px;
  background: #fff;
  border: 1.5px solid #F5F5F5;
  border-radius: 165px;
  font-weight: 480;
  font-size: 18px;
  line-height: 22px;
  color: #8A8A8A;
}
.main-subscribe_registration-sumbit {
  width: 170px;
  padding: 17px 31px;
  background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
  border: none;
  border-radius: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: 2px solid #5FB848;
  border-radius: 50px;
  transition: 0.3s;
}
@media only screen and (max-width: 576px) {
  .main-subscribe_registration-sumbit {
    width: 140px;
    font-size: 16px;
    padding: 10px 20px;
  }
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.2s;
}

.loader {
  position: relative;
  width: 120px;
  height: 14px;
  border-radius: 0 0 15px 15px;
  background-color: #3e494d;
  box-shadow: 0 -1px 4px #5d6063 inset;
  animation: panex 0.5s linear alternate infinite;
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;
}

.loader::before {
  content: "";
  position: absolute;
  left: calc(100% - 2px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px, 4px 8px, 24px 4px;
  background-position: right center, 17px center, 0px center;
}

.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -2;
  transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
  width: 55px;
  height: 53px;
  background: #fff;
  background-image: radial-gradient(circle 3px, rgba(255, 255, 255, 0.4) 90%, transparent 10%), radial-gradient(circle 12px, #ffc400 90%, transparent 10%), radial-gradient(circle 12px, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px, -2px -2px, -1px -1px;
  box-shadow: -2px -3px rgba(0, 0, 0, 0.1333333333) inset, 0 0 4px rgba(0, 0, 0, 0.2) inset;
  border-radius: 47% 36% 50% 50%/49% 45% 42% 44%;
  animation: eggRst 1s ease-out infinite;
}

@keyframes eggRst {
  0%, 100% {
    transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
    opacity: 0;
  }
  10%, 90% {
    transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg);
  }
  75% {
    transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg);
  }
  50% {
    transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg);
  }
}
@keyframes panex {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.footer {
  background-color: #FCFCFC;
}
.footer-top {
  padding-block: 114px 174px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
  }
}
.footer-top_first {
  width: 262px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
@media only screen and (max-width: 768px) {
  .footer-top_first {
    width: 200px;
    gap: 17px;
  }
}
.footer-top_first-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #2C3847;
}
@media only screen and (max-width: 768px) {
  .footer-top_first-title {
    font-size: 21px;
  }
}
@media only screen and (max-width: 576px) {
  .footer-top_first-title {
    text-align: center;
  }
}
.footer-top_first-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #657582;
}
@media only screen and (max-width: 768px) {
  .footer-top_first-text {
    font-size: 11px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 768px) and (max-width: 576px) {
  .footer-top_first-text {
    text-align: center;
  }
}
.footer-top_home, .footer-top_about, .footer-top_partner, .footer-top_contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-top_home-title, .footer-top_about-title, .footer-top_partner-title, .footer-top_contact-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #2C3847;
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  .footer-top_home-title, .footer-top_about-title, .footer-top_partner-title, .footer-top_contact-title {
    font-size: 21px;
  }
}
@media only screen and (max-width: 576px) {
  .footer-top_home-title, .footer-top_about-title, .footer-top_partner-title, .footer-top_contact-title {
    text-align: center;
  }
}
.footer-top_home-text, .footer-top_about-text, .footer-top_partner-text, .footer-top_contact-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #657582;
}
@media only screen and (max-width: 768px) {
  .footer-top_home-text, .footer-top_about-text, .footer-top_partner-text, .footer-top_contact-text {
    font-size: 11px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .footer-top_home-text, .footer-top_about-text, .footer-top_partner-text, .footer-top_contact-text {
    text-align: center;
  }
}
.footer-bottom {
  padding-block: 20px;
  background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
  display: flex;
  justify-content: center;
}
.footer-bottom_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .footer-bottom_text {
    font-size: 11px;
  }
}/*# sourceMappingURL=main.css.map */