@font-face {
    font-family: "Poppins-Bold";
    src: url(../font/Poppins-Bold.ttf);
    font-weight: 700px;
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(../font/Poppins-ExtraBold.ttf);
    font-weight: 800px;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../font/Poppins-Medium.ttf);
    font-weight: 500px;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
    font-weight: 400px;
}