.footer {
    background-color: #FCFCFC;

    &-top {
        padding-block: 114px 174px;
        @include flexbetween;

        @include media(576) {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 50px;
        }

        &_first {
            width: 262px;
            display: flex;
            flex-direction: column;
            gap: 34px;

            @include media(768) {
                width: 200px;
                gap: 17px;
            }

            &-title {
                font-weight: 500;
                font-size: 26px;
                line-height: 32px;
                color: $footertitle;

                @include media(768) {
                    font-size: 21px;
                }

                @include media(576) {
                    text-align: center;
                }
            }

            &-text {
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: $footertext;

                @include media(768) {
                    font-size: 11px;
                    line-height: 16px;

                    @include media(576) {
                        text-align: center;
                    }
                }
            }
        }

        &_home,
        &_about,
        &_partner,
        &_contact {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &-title {
                font-weight: 500;
                font-size: 22px;
                line-height: 28px;
                color: $footertitle;
                margin-bottom: 8px;

                @include media(768) {
                    font-size: 21px;
                }

                @include media(576) {
                    text-align: center;
                }
            }

            &-text {
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: $footertext;

                @include media(768) {
                    font-size: 11px;
                    line-height: 16px;
                }

                @include media(576) {
                    text-align: center;
                }
            }
        }
    }

    &-bottom {
        padding-block: 20px;
        background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
        display: flex;
        justify-content: center;

        &_text {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: $white;

            @include media(576) {
                font-size: 11px;
            }
        }
    }
}

