.main {
    &-info {
        margin-block: 100px 120px;
        padding: 0 85px;

        @include media(576) {
            margin-block: 0;
            padding: 0 0 0 15px;
        }

        @include media(1150) {
            margin-block: 100px 60px;
        }

        &_title {
            font-weight: 500;
            font-size: 54px;
            line-height: 68px;
            text-align: center;
            color: #151414;

            @include media(768) {
                font-size: 40px;
            }

            @include media(576) {
                font-size: 24px;
            }
        }

        &_text {
            font-weight: 300;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #3B433E;
            margin-top: 15px;

            @include media(768) {
                font-size: 18px;
            }

            @include media(576) {
                font-size: 14px;
                margin-top: 0;
            }
        }

        &_section {
            display: flex;
            gap: 100px;
            margin-block: 60px;
            overflow: hidden;

            @include media(768) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @include media(576) {
                gap: 50px;
            }

            &-notepad,
            &-map,
            &-leaf {
                max-width: 341px;
                width: 100%;
                @include flexcenter;
                flex-direction: column;
                align-items: center;

                &_img {
                    width: max-content;
                    height: 100px;
                }

                &_title {
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 35px;
                    text-align: center;
                    color: #181D19;
                    margin-block: 36px 18px;

                    @include media(576) {
                        font-size: 20px;
                    }
                }

                &_text {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #3B433E;

                    @include media(576) {
                        font-size: 12px;
                    }
                }
            }

            &-map {
                transform: translateY(-500px);
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &-notepad {
                transform: translateX(-400px);
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &-leaf {
                transform: translateX(400px);
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }
        }

        &_numbers {
            @include flexcenter;
            gap: 160px;

            @include media(768) {
                gap: 80px;
            }

            @include media(576) {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
            }

            &-food,
            &-trusted,
            &-order {
                width: 150px;

                @include media(768) {
                    width: 100%;
                }

                &_animation {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;

                    &-title {
                        font-weight: 600;
                        font-size: 44px;
                        line-height: 55px;
                        text-align: center;
                        color: $darkblack;

                        @include media(768) {
                            font-size: 30px;
                            margin-bottom: 0;
                        }
                    }

                    &-text {
                        font-weight: 600;
                        font-size: 44px;
                        line-height: 55px;
                        color: $darkblack;

                        @include media(768) {
                            font-size: 30px;
                        }
                    }
                }

                &_text {
                    font-weight: 500;
                    font-size: 19px;
                    line-height: 25px;
                    text-align: center;
                    color: #545454;

                    @include media(768) {
                        font-size: 12px;
                    }
                }
            }

            &-trusted {
                transform: translateY(100px);
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &-food {
                transform: translateY(300px);
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &-order {
                transform: translateY(300px);
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }
        }
    }
}