.main {
    &-aboutus {
        margin-bottom: 120px;
        padding: 0 32px;
        display: flex;
        align-items: center;
        gap: 95px;
        overflow: hidden;
        z-index: -1;

        @include media(1150) {
            margin-bottom: 0;
        }

        @include media(768) {
            margin-bottom: 100px;
        }

        @include media(768) {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        &_texts {
            max-width: 500px;
            width: 100%;
            padding-block: 127px;

            @include media(768) {
                padding-block: 50px;
            }

            &-title {
                font-weight: 500;
                font-size: 54px;
                line-height: 68px;
                color: $blacktitle;
                transform: translateX(-200px);
                z-index: 0;
                opacity: 0;
                transition: 1s;

                @include media(1150) {
                    font-size: 30px;
                }

                @include media(768) {
                    font-size: 40px;
                    text-align: center;
                }

                @include media(576) {
                    font-size: 24px;
                }
            }

            &-text {
                margin-block: 30px 68px;
                font-weight: 300;
                font-size: 22px;
                line-height: 34px;
                color: $blacktext;
                transform: translateX(-500px);
                z-index: 0;
                opacity: 0;
                transition: 1s;

                @include media(1150) {
                    font-size: 16px;
                    line-height: 26px;
                    margin-block: 15px 34px;
                }

                @include media(768) {
                    text-align: center;
                }

                @include media(576) {
                    font-size: 14px;
                }
            }

            &-btn {
                width: max-content;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                color: $white;
                background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
                border-radius: 50px;
                padding: 16px 41px;
                transform: translateX(-800px);
                z-index: 0;
                opacity: 0;
                display: block;
                border: 2px solid #5FB848;
                cursor: pointer;
                transition: 0.3s;
                position: relative;
                overflow: hidden;
                z-index: 1;

                @include media(1150) {
                    font-size: 16px;
                    padding: 8px 20px;
                }

                @include media(768) {
                    margin: 0 auto;
                }

                &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    background-color: $white;
                    position: absolute;
                    left: var(--x);
                    top: var(--y);
                    transition: 0.3s all linear;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                }

                &:hover {
                    color: #5FB848;
                }

                &:hover::after {
                    width: 500px;
                    height: 500px;
                }
            }
        }

        &_images {
            max-width: 640px;
            width: 100%;
            height: 722px;
            display: flex;
            gap: 20px;

            @include media(1150) {
                max-width: 320px;
                width: 100%;
                height: 366px;
                display: flex;
                gap: 10px;
            }

            @include media(768) {
                max-width: 480px;
                width: 100%;
                height: 549px;
                gap: 15px;
            }

            @include media(576) {
                width: 290px;
                height: 366px;
                display: flex;
                gap: 10px;
            }

            &-left {
                width: 310px;
                height: 666px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                transform: translateY(-100%);
                z-index: 0;
                opacity: 0;
                transition: 1s;

                @include media(1150) {
                    width: 155px;
                    height: 333px;
                    gap: 10px;
                }

                @include media(768) {
                    width: 227.5px;
                    height: 499.5px;
                    gap: 15px;
                }

                @include media(576) {
                    width: 140px;
                    height: 333px;
                    gap: 10px;
                }

                &-top,
                &-bottom {
                    width: 310px;
                    height: 323px;

                    @include media(1150) {
                        width: 155px;
                        height: 161.5px;
                    }

                    @include media(768) {
                        width: 227.5px;
                        height: 81px;
                    }

                    @include media(576) {
                        width: 155px;
                        height: 161.5px;
                    }
                }
            }

            &-right {
                width: 310px;
                height: 670px;
                margin-top: 52px;
                transform: translateY(100%);
                z-index: 0;
                opacity: 0;
                transition: 1s;

                @include media(1150) {
                    width: 155px;
                    height: 335px;
                }

                @include media(768) {
                    width: 227.5px;
                    height: 499.5px;
                    margin-top: 49px;
                }

                @include media(576) {
                    width: 140px;
                    height: 335px;
                    margin-top: 30px;
                }
            }
        }
    }
}