.main {
    &-clients {
        padding: 70px 120px;
        margin-block: 120px;
        background-color: #FCFCFC;

        @include media(650) {
            padding: 0;
            padding-bottom: 30px;
            margin-block: 0;
        }

        &_title {
            font-weight: 500;
            font-size: 54px;
            line-height: 68px;
            text-align: center;
            color: $blacktitle;
            margin-bottom: 47px;

            @include media(1350) {
                font-size: 30px;
                margin-bottom: 20px;
            }
        }

        &_swiper {
            width: 1053px !important;
            height: 400px !important;
            background-color: fcfcfc;

            @include media(1350) {
                width: 795px !important;
                height: 300px !important;
            }

            @include media(1100) {
                width: 385px !important;
                height: 300px !important;
            }

            @include media(650) {
                width: 290px !important;
                height: 290px !important;
            }

            &-wrapper {

                &_slide {
                    max-width: 514px !important;
                    width: 100% !important;
                    height: 347px !important;
                    background: #FFFFFF;
                    border: 1px solid #e6e6e6;
                    border-radius: 8px;
                    padding: 37px 22px 64px 25px;
                    
                    @include media(1350) {
                        max-width: 385px !important;
                        height: 260px !important;
                        padding: 18px 11px 32px 12px;
                    }

                    @include media(650) {
                        max-width: 290px !important;
                        height: 290px !important;
                    }

                    &-top {
                        @include flexbetween;
                        margin-bottom: 32px;

                        @include media(1350) {
                            margin-bottom: 16px;
                        }

                        &_left {
                            display: flex;
                            gap: 37px;

                            &-img {
                                margin-top: 3px;

                                @include media(1350) {
                                    width: 60px;
                                    height: 60px;
                                }
                            }

                            &-texts {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 3px;

                                &_title {
                                    font-weight: 500;
                                    font-size: 20px;
                                    line-height: 25px;
                                    color: #333333;

                                    @include media(1350) {
                                        font-size: 15px;
                                    }
                                }

                                &_text {
                                    font-weight: 300;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #888A9A;

                                    @include media(1350) {
                                        font-size: 11px;
                                    }
                                }
                            }
                        }

                        &_mark {
                            margin-bottom: 22px;

                            @include media(1350) {
                                width: 65px;
                                height: 53px;
                                margin-bottom: 0;
                            }
                        }
                    }

                    &-text {
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 30px;
                        color: #181D19;

                        @include media(1350) {
                            font-size: 15px;
                            line-height: 26px;
                        }

                        @include media(650) {
                            text-align: justify;
                        }
                    }
                }
            }
        }

        &_nav {
            width: 105px;
            position: absolute;
            left: 47.3%;

            @include media(1350) {
                left: 46.3%;
            }

            @include media(1100) {
                left: 45.3%;
            }

            @include media(650) {
                display: none;
            }

            &-next::after,
            &-prev::after {
                display: none;
            }
        }
    }
}
