.main {
    &-dishes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px;

        &_title {
            font-weight: 500;
            font-size: 54px;
            line-height: 68px;
            text-align: center;
            color: $blacktitle;
            margin-block: 15px;

            @include media(1200) {
                font-size: 30px;
            }

            @include media(768) {
                font-size: 40px;
            }

            @include media(576) {
                font-size: 24px;
                line-height: 40px;
            }
        }

        &_text {
            font-weight: 300;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: $blacktext;

            @include media(1200) {
                font-size: 16px;
                line-height: 26px;
            }

            @include media(768) {
                font-size: 24px;
                line-height: 30px;
            }

            @include media(576) {
                font-size: 14px;
            }
        }

        &_cards {
            display: flex;
            gap: 51px;
            margin-block: 60px;

            @include media(1200) {
                gap: 20px;
            }

            @include media(768) {
                display: flex;
                flex-direction: column;
                gap: 51px;
            }

            @include media(768) {
                gap: 20px;
            }

            &-first,
            &-second,
            &-third {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 51px 31px;
                border: 1px solid #EBEBEB;
                border-radius: 20px;
                transition: 1s !important;
                cursor: pointer;

                @include media(1200) {
                    padding: 25px 15px;
                }

                @include media(768) {
                    padding: 51px 31px;
                }

                @include media(576) {
                    padding: 25px 15px;
                }

                &:hover {
                    transform: scale(1.05, 1.05) !important;
                    box-shadow: -15px -50px 81px #FFFFFF, 10px 20px 70px rgba(0, 0, 0, 0.08);
                }

                &_img {
                    @include media(1200) {
                        width: 180px;
                        height: 180px;
                    }

                    @include media(768) {
                        width: 250px;
                        height: 250px;
                    }

                    @include media(576) {
                        width: 180px;
                        height: 180px;
                    }
                }

                &_title {
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 38px;
                    text-align: center;
                    margin-block: 27px 20px;

                    @include media(1200) {
                        font-size: 20px;
                        margin-block: 13px 10px;
                    }

                    @include media(768) {
                        font-size: 30px;
                        margin-block: 27px 20px;
                    }

                    @include media(576) {
                        font-size: 20px;
                        margin-block: 13px 10px;
                    }
                }

                &_text {
                    width: 293px;
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 28px;
                    text-align: center;
                    background: linear-gradient(180deg, #39463F 0%, #101612 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;

                    @include media(1200) {
                        width: 200px;
                        font-size: 14px;
                    }

                    @include media(768) {
                        width: 293px;
                        font-size: 17px;
                    }

                    @include media(576) {
                        width: 200px;
                        font-size: 14px;
                    }
                }
            }

            &-first {
                transform: translateY(650px);
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &-second {
                transform: translateY(950px);
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &-third {
                transform: translateY(1250px);
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }
        }

        &_btn {
            width: max-content;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: $white;
            background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
            border-radius: 50px;
            padding: 16px 41px;
            display: block;
            transform: translateY(1550px);
            z-index: 0;
            opacity: 0;
            border: 2px solid #5FB848;
            cursor: pointer;
            transition: 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;

            @include media(1200) {
                font-size: 16px;
                padding: 8px 35px;
            }

            &::after {
                content: '';
                width: 0;
                height: 0;
                background-color: $white;
                position: absolute;
                left: var(--x);
                top: var(--y);
                transition: 0.3s all linear;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }

            &:hover {
                color: #5FB848;
            }

            &:hover::after {
                width: 500px;
                height: 500px;
            }
        }
    }
}