.main {
    &-chefs {
        margin-block: 80px 140px;
        @include flexbetween;
        overflow: hidden;

        @include media(768) {
            display: flex;
            flex-direction: column;
            margin-block: 80px 40px;
        }

        &_texts {
            max-width: 500px;
            width: 100%;

            @include media(1100) {
                margin-bottom: 120px;
            }

            @include media(992) {
                margin-bottom: 250px;
            }

            @include media(768) {
                margin-bottom: 60px;
            }

            &-title {
                width: 100%;
                font-weight: 500;
                font-size: 54px;
                line-height: 68px;
                color: $blacktitle;
                transform: translateX(-400px);
                z-index: 0;
                opacity: 0;
                transition: 1s;

                @include media(1100) {
                    font-size: 30px;
                }

                @include media(768) {
                    font-size: 40px;
                    text-align: center;
                }

                @include media(576) {
                    font-size: 24px;
                    line-height: 40px;
                }
            }

            &-text {
                width: 100%;
                font-weight: 300;
                font-size: 22px;
                line-height: 34px;
                color: $blacktext;
                margin-block: 30px;
                transform: translateX(-700px);
                z-index: 0;
                opacity: 0;
                transition: 1s;

                @include media(1100) {
                    font-size: 16px;
                    line-height: 26px;
                    margin-block: 0 20px;
                }

                @include media(768) {
                    text-align: center;
                    margin-block: 10px 30px;
                }

                @include media(576) {
                    font-size: 14px;
                }
            }

            &-checkboxs {
                max-width: 330px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include media(768) {
                    margin-left: 130px;
                }
                
                @include media(576) {
                    margin-left: 120px;
                }

                @include media(450) {
                    margin-left: 100px;
                }

                @include media(400) {
                    margin-left: 70px;
                }

                @include media(340) {
                    margin-left: 30px;
                }

                &_top,
                &_between,
                &_bottom {
                    display: flex;
                    align-items: center;
                    gap: 17px;

                    .checkbox {
                        width: 20px;
                        height: 20px;
                        accent-color: #5a9e3c;
                        cursor: pointer;
                    }

                    &-text {
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 25px;
                        color: $blacktext;
                        cursor: pointer;

                        @include media(1100) {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }

                &_top {
                    transform: translateX(-1000px);
                    z-index: 0;
                    opacity: 0;
                    transition: 1s;
                }

                &_between {
                    transform: translateX(-1300px);
                    z-index: 0;
                    opacity: 0;
                    transition: 1s;
                }

                &_bottom {
                    transform: translateX(-1600px);
                    z-index: 0;
                    opacity: 0;
                    transition: 1s;
                }
            }
        }

        &_image {
            max-width: 727px;
            width: 100%;
            height: 622px;
            transform: translateY(720px);
            z-index: 0;
            opacity: 0;
            transition: 1s;

            @include media(768) {
                max-width: 545px;
                width: 100%;
                height: 466px;
            }

            @include media(576) {
                max-width: 363px;
                width: 100%;
                height: 311px;
            }

            &-img {
                width: 100%;
            }
        }
    }
}