.main {
    &-subscribe {
        padding: 120px 335px 150px 335px;

        @include media(1200) {
            padding: 70px 0;
        }

        &_title {
            font-weight: 500;
            font-size: 36px;
            line-height: 45px;
            text-align: center;
            color: $blacktitle;

            @include media(768) {
                font-size: 40px;
            }

            @include media(576) {
                font-size: 24px;
                line-height: 40px;
            }
        }

        &_text {
            font-weight: 300;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: $blacktext;
            margin-block: 15px 60px;

            @include media(768) {
                font-size: 24px;
                line-height: 30px;
            }

            @include media(576) {
                font-size: 14px;
            }
        }

        &_registration {
            max-width: 515px;
            display: flex;
            justify-content: center;
            gap: 15px;
            margin: 0 auto;

            @include media(576) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &-email {
                max-width: 330px;
                width: 100%;
                padding: 19px 0 18px 20px;
                background: $white;
                border: 1.5px solid #F5F5F5;
                border-radius: 165px;
                font-weight: 480;
                font-size: 18px;
                line-height: 22px;
                color: #8A8A8A;
            }

            &-sumbit {
                width: 170px;
                padding: 17px 31px;
                background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
                border: none;
                border-radius: 50px;
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                color: $white;
                cursor: pointer;
                border: 2px solid #5FB848;
                border-radius: 50px;
                transition: 0.3s;

                @include media(576) {
                    width: 140px;
                    font-size: 16px;
                    padding: 10px 20px;
                }
            }
        }
    }
}